# Ingore cache
src/__pycache__/
src/view/__pycache__/
src/applogic/__pycache__/
src/controller/__pycache__/
src/models/__pycache__/
src/view/ui/__pycache__/
src/view/ui/gen/__pycache__/


# Igrone settings files
*.json
*.cfg

# Ingore tasks files
*.todo

# Ignore idea
.idea/

# Ignore avatars
/src/avatars/

/venv/

/old/

/views/choice_acc_dialog_old.ui
/src/views/ui/gen/choice_acc_dialog - копия.py
/src/views/ui/choice_acc_dialog_old.ui
